__pycache__/
*.py[codz]
.venv/
.git/
.github/
webapp/node_modules/
webapp/.next/
*.egg-info/
.coverage
.coverage.*
.pytest_cache/
.ruff_cache/
htmlcov/
dist/
build/
.env
.envrc
.python-version
.ruff_cache/
uv.lock
